In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [11]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 4ms/step - loss: 41.5268 - accuracy: 0.7341
Epoch 2/100
35/35 [==============================] - 0s 3ms/step - loss: 24.5318 - accuracy: 0.7586
Epoch 3/100
35/35 [==============================] - 0s 3ms/step - loss: 14.7199 - accuracy: 0.7541
Epoch 4/100
35/35 [==============================] - 0s 3ms/step - loss: 11.9355 - accuracy: 0.7341
Epoch 5/100
35/35 [==============================] - 0s 4ms/step - loss: 9.1140 - accuracy: 0.7432
Epoch 6/100
35/35 [==============================] - 0s 3ms/step - loss: 8.0271 - accuracy: 0.7278
Epoch 7/100
35/35 [==============================] - 0s 4ms/step - loss: 7.1432 - accuracy: 0.7568
Epoch 8/100
35/35 [==============================] - 0s 3ms/step - loss: 7.9278 - accuracy: 0.7414
Epoch 9/100
35/35 [==============================] - 0s 4ms/step - loss: 6.8982 - accuracy: 0.7486
Epoch 10/100
35/35 [==============================] - 0s 3ms/step - loss: 6.8921 - accuracy: 0.7432
Epoch 11/100
35/35 [==============================] - 0s 3ms/step - loss: 8.7600 - accuracy: 0.7432
Epoch 12/100
35/35 [==============================] - 0s 4ms/step - loss: 5.9199 - accuracy: 0.7486
Epoch 13/100
35/35 [==============================] - 0s 4ms/step - loss: 6.9916 - accuracy: 0.7541
Epoch 14/100
35/35 [==============================] - 0s 3ms/step - loss: 6.1815 - accuracy: 0.7432
Epoch 15/100
35/35 [==============================] - 0s 3ms/step - loss: 5.8090 - accuracy: 0.7495
Epoch 16/100
35/35 [==============================] - 0s 3ms/step - loss: 9.0545 - accuracy: 0.7432
Epoch 17/100
35/35 [==============================] - 0s 3ms/step - loss: 6.3601 - accuracy: 0.7432
Epoch 18/100
35/35 [==============================] - 0s 3ms/step - loss: 5.4356 - accuracy: 0.7368
Epoch 19/100
35/35 [==============================] - 0s 3ms/step - loss: 7.7527 - accuracy: 0.7387
Epoch 20/100
35/35 [==============================] - 0s 3ms/step - loss: 6.5951 - accuracy: 0.7396
Epoch 21/100
35/35 [==============================] - 0s 4ms/step - loss: 4.6026 - accuracy: 0.7495
Epoch 22/100
35/35 [==============================] - 0s 3ms/step - loss: 4.3063 - accuracy: 0.7641
Epoch 23/100
35/35 [==============================] - 0s 4ms/step - loss: 5.3582 - accuracy: 0.7423
Epoch 24/100
35/35 [==============================] - 0s 3ms/step - loss: 5.0176 - accuracy: 0.7387
Epoch 25/100
35/35 [==============================] - 0s 3ms/step - loss: 3.9313 - accuracy: 0.7405
Epoch 26/100
35/35 [==============================] - 0s 3ms/step - loss: 5.9897 - accuracy: 0.7377
Epoch 27/100
35/35 [==============================] - 0s 4ms/step - loss: 4.7725 - accuracy: 0.7514
Epoch 28/100
35/35 [==============================] - 0s 3ms/step - loss: 5.2364 - accuracy: 0.7414
Epoch 29/100
35/35 [==============================] - 0s 4ms/step - loss: 4.7354 - accuracy: 0.7432
Epoch 30/100
35/35 [==============================] - 0s 3ms/step - loss: 3.6079 - accuracy: 0.7486
Epoch 31/100
35/35 [==============================] - 0s 4ms/step - loss: 4.8201 - accuracy: 0.7559
Epoch 32/100
35/35 [==============================] - 0s 4ms/step - loss: 3.8602 - accuracy: 0.7568
Epoch 33/100
35/35 [==============================] - 0s 4ms/step - loss: 3.7478 - accuracy: 0.7595
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 2.8373 - accuracy: 0.7831
Epoch 35/100
35/35 [==============================] - 0s 3ms/step - loss: 3.2305 - accuracy: 0.7441
Epoch 36/100
35/35 [==============================] - 0s 3ms/step - loss: 7.5193 - accuracy: 0.7613
Epoch 37/100
35/35 [==============================] - 0s 3ms/step - loss: 9.0641 - accuracy: 0.7178
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 7.9164 - accuracy: 0.7505
Epoch 39/100
35/35 [==============================] - 0s 4ms/step - loss: 3.9638 - accuracy: 0.7550
Epoch 40/100
35/35 [==============================] - 0s 3ms/step - loss: 6.9159 - accuracy: 0.7305
Epoch 41/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1011 - accuracy: 0.7668
Epoch 42/100
35/35 [==============================] - 0s 3ms/step - loss: 3.2287 - accuracy: 0.7568
Epoch 43/100
35/35 [==============================] - 0s 3ms/step - loss: 3.7075 - accuracy: 0.7632
Epoch 44/100
35/35 [==============================] - 0s 3ms/step - loss: 2.8083 - accuracy: 0.7632
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 3.8062 - accuracy: 0.7623
Epoch 46/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1459 - accuracy: 0.7586
Epoch 47/100
35/35 [==============================] - 0s 3ms/step - loss: 2.2298 - accuracy: 0.7849
Epoch 48/100
35/35 [==============================] - 0s 3ms/step - loss: 2.9200 - accuracy: 0.7559
Epoch 49/100
35/35 [==============================] - 0s 3ms/step - loss: 2.9657 - accuracy: 0.7750
Epoch 50/100
35/35 [==============================] - 0s 3ms/step - loss: 2.8549 - accuracy: 0.7495
Epoch 51/100
35/35 [==============================] - 0s 3ms/step - loss: 3.2353 - accuracy: 0.7731
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 2.0190 - accuracy: 0.7632
Epoch 53/100
35/35 [==============================] - 0s 3ms/step - loss: 4.2051 - accuracy: 0.7541
Epoch 54/100
35/35 [==============================] - 0s 3ms/step - loss: 3.8316 - accuracy: 0.7659
Epoch 55/100
35/35 [==============================] - 0s 4ms/step - loss: 2.1368 - accuracy: 0.7677
Epoch 56/100
35/35 [==============================] - 0s 3ms/step - loss: 2.0214 - accuracy: 0.7641
Epoch 57/100
35/35 [==============================] - 0s 3ms/step - loss: 2.9525 - accuracy: 0.7541
Epoch 58/100
35/35 [==============================] - 0s 3ms/step - loss: 6.1797 - accuracy: 0.7623
Epoch 59/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1949 - accuracy: 0.7586
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 3.6957 - accuracy: 0.7523
Epoch 61/100
35/35 [==============================] - 0s 3ms/step - loss: 6.1080 - accuracy: 0.7423
Epoch 62/100
35/35 [==============================] - 0s 3ms/step - loss: 3.4490 - accuracy: 0.7396
Epoch 63/100
35/35 [==============================] - 0s 3ms/step - loss: 3.5200 - accuracy: 0.7541
Epoch 64/100
35/35 [==============================] - 0s 3ms/step - loss: 2.3193 - accuracy: 0.7849
Epoch 65/100
35/35 [==============================] - 0s 3ms/step - loss: 6.0937 - accuracy: 0.7532
Epoch 66/100
35/35 [==============================] - 0s 3ms/step - loss: 2.5584 - accuracy: 0.7423
Epoch 67/100
35/35 [==============================] - 0s 3ms/step - loss: 4.2114 - accuracy: 0.7550
Epoch 68/100
35/35 [==============================] - 0s 3ms/step - loss: 3.2810 - accuracy: 0.7523
Epoch 69/100
35/35 [==============================] - 0s 3ms/step - loss: 7.0031 - accuracy: 0.7387
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 1.7717 - accuracy: 0.7822
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 2.6006 - accuracy: 0.7595
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 3.5137 - accuracy: 0.7604
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 2.7205 - accuracy: 0.7677
Epoch 74/100
35/35 [==============================] - 0s 3ms/step - loss: 1.4895 - accuracy: 0.7949
Epoch 75/100
35/35 [==============================] - 0s 3ms/step - loss: 4.0476 - accuracy: 0.7668
Epoch 76/100
35/35 [==============================] - 0s 3ms/step - loss: 4.9438 - accuracy: 0.7550
Epoch 77/100
35/35 [==============================] - 0s 3ms/step - loss: 2.3860 - accuracy: 0.7641
Epoch 78/100
35/35 [==============================] - 0s 3ms/step - loss: 4.0847 - accuracy: 0.7604
Epoch 79/100
35/35 [==============================] - 0s 3ms/step - loss: 5.6604 - accuracy: 0.7241
Epoch 80/100
35/35 [==============================] - 0s 3ms/step - loss: 3.7963 - accuracy: 0.7704
Epoch 81/100
35/35 [==============================] - 0s 3ms/step - loss: 3.6935 - accuracy: 0.7577
Epoch 82/100
35/35 [==============================] - 0s 3ms/step - loss: 2.2665 - accuracy: 0.7795
Epoch 83/100
35/35 [==============================] - 0s 4ms/step - loss: 1.9357 - accuracy: 0.7868
Epoch 84/100
35/35 [==============================] - 0s 3ms/step - loss: 2.3269 - accuracy: 0.7713
Epoch 85/100
35/35 [==============================] - 0s 3ms/step - loss: 2.6361 - accuracy: 0.7795
Epoch 86/100
35/35 [==============================] - 0s 3ms/step - loss: 3.5430 - accuracy: 0.7314
Epoch 87/100
35/35 [==============================] - 0s 4ms/step - loss: 6.1410 - accuracy: 0.7396
Epoch 88/100
35/35 [==============================] - 0s 3ms/step - loss: 3.7875 - accuracy: 0.7523
Epoch 89/100
35/35 [==============================] - 0s 3ms/step - loss: 2.6359 - accuracy: 0.7659
Epoch 90/100
35/35 [==============================] - 0s 3ms/step - loss: 3.7458 - accuracy: 0.7641
Epoch 91/100
35/35 [==============================] - 0s 3ms/step - loss: 8.1685 - accuracy: 0.7305
Epoch 92/100
35/35 [==============================] - 0s 3ms/step - loss: 2.0544 - accuracy: 0.7868
Epoch 93/100
35/35 [==============================] - 0s 3ms/step - loss: 2.0682 - accuracy: 0.7677
Epoch 94/100
35/35 [==============================] - 0s 3ms/step - loss: 2.9775 - accuracy: 0.7568
Epoch 95/100
35/35 [==============================] - 0s 3ms/step - loss: 1.8088 - accuracy: 0.7831
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 2.2656 - accuracy: 0.7831
Epoch 97/100
35/35 [==============================] - 0s 3ms/step - loss: 3.9451 - accuracy: 0.7359
Epoch 98/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1436 - accuracy: 0.7613
Epoch 99/100
35/35 [==============================] - 0s 3ms/step - loss: 1.5067 - accuracy: 0.7976
Epoch 100/100
35/35 [==============================] - 0s 4ms/step - loss: 2.3473 - accuracy: 0.7886

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 5.6282 - accuracy: 0.8723 - 208ms/epoch - 17ms/step
Loss: 5.628247261047363, Accuracy: 0.8722826242446899